body {
    padding-top: 100px;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(#327fbe, #eee9da, #8e6dc4);
    transition: background-color 0.4s;
}

body {
    padding-top: 10%;
    /* Adjust this percentage value as needed */
}

@media (max-width: 768px) {
    body {
        padding-top: 8%;
        /* Adjust percentage for smaller screens */
    }
}

@media (max-width: 576px) {
    body {
        padding-top: 10%;
        /* Adjust percentage for even smaller screens */
    }
}

#intro {
    padding-top: 150px;
    margin-top: -150px;
}

#about {
    padding-top: 150px;
    margin-top: -150px;
}

#projects {
    padding-top: 150px;
    margin-top: -150px;
}

h1,
h2,
h3 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
}

.container {
    max-width: 840px;
    margin: 0 auto;
}

.container>div {
    margin: 20px auto;
}

.intro {
    text-align: center;
}

.intro-photo {
    opacity: .85;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: -4px -4px 7px rgba(73, 117, 143, 0.822),
        5px 5px 9px rgba(121, 132, 150, 0.032);
    transition: all ease-in-out .2s;
    margin-bottom: 10px;
}

.intro-photo:hover {
    opacity: .9;
    box-shadow: 5px 5px 7px #212121,
        -5px -5px 7px #a9c6eb;
}

.my-name {
    font-family: 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    /* Set the width to 100% */
    text-align: center;
    /* Center align the text */
    line-height: 1.5em;
    margin: 10px 0 0 5px;
    padding-top: 20px;
}

.my-name:hover {
    text-align: center;
    color: rgba(0, 0, 0, 0.1);
    background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: animate;
    -moz-animation-name: animate;
    animation-name: animate;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #000000;
}

@keyframes animate {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

.profession-letters span {
    font-family: "Jost", sans-serif;
    font-size: 5rem;
    color: #5a91b78c;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
}

@keyframes move {
    0% {
        transform: translate(-1, 0);
    }

    50% {
        text-shadow: 0 10px 9px rgba(0, 0, 0, 0.999);
    }

    100% {
        transform: translate(25%, 0);
    }
}

.profession-letters span:nth-child(2) {
    animation-delay: 0.5s;
}

.profession-letters span:nth-child(3) {
    animation-delay: 1s;
}

.profession-letters span:nth-child(4) {
    animation-delay: 1.5s;
}

.profession-letters span:nth-child(5) {
    animation-delay: 2s;
}

.profession-letters span:nth-child(6) {
    animation-delay: 2.5s;
}

.profession-letters span:nth-child(7) {
    animation-delay: 3s;
}

.profession-letters span:nth-child(8) {
    animation-delay: 3.5s;
}

.profession-letters span:nth-child(9) {
    animation-delay: 4s;
}

.profession-letters span:nth-child(10) {
    animation-delay: 4.5s;
}

.profession-letters span:nth-child(11) {
    animation-delay: 5s;
}

.profession-letters span:nth-child(12) {
    animation-delay: 5.5s;
}

.profession-letters span:nth-child(13) {
    animation-delay: 6s;
}

.profession:hover {
    text-align: center;
}

.quote {
    font-style: italic;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.about-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.about-list {
    list-style: none;
    padding: 0;
}

.i-am,
.i-enjoy {
    text-align: center;
    text-decoration: none;
}

@media (max-width: 480px) {
    .about-grid {
        grid-template-columns: 100%;
    }
}

.projects-heading {
    text-align: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.project-image {
    border-radius: 20px;
    opacity: .7;
    box-shadow: inset -10px -10px 13px rgba(255, 255, 255, 0.45), inset 10px 10px 13px rgba(94, 104, 121, 0.3);

}

.project-image-wrapper {
    justify-self: center;
    padding: 4%;
    position: relative;
    box-sizing: border-box;
}

.project-image:hover {
    border-radius: 20px;
    opacity: .8;
    box-shadow: 10px 10px 15px #424242, -10px -10px 15px #ffffff;
}

.project-image-wrapper:hover>h4 {
    visibility: visible;
}

.project-image-wrapper>h4 {
    position: absolute;
    top: 40%;
    left: 10.5%;
    color: white;
    visibility: hidden;
    z-index: 1;
    transition: all ease-in-out 0.01s;

    font: 700 4em/1 "Oswald", sans-serif;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);

    /* Clip Background Image */
    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

    /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translated(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}


@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 100%;
    }
}

.links-and-contact {
    display: grid;
    grid-template-columns: 50% 50%;
    /* Added */
    justify-items: center;
    /* Added */
    text-align: center;
    /* Added */
}

.links-list {
    list-style: none;
    padding: 0;
}

@media (max-width: 650px) {
    .links-and-contact {
        grid-template-columns: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

form input,
textarea {
    padding: 5px;
    border-radius: 5px;
    width: 240px;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input[type="submit"] {
    width: 255px;
}

.submit-button-wrapper {
    margin: 20px 0;
}

.form-field-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
    /* Increase the margin-bottom value */
}

.btn-hover {
    opacity: 70%;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
        box-shadow: 0 0 14px 7px rgba(247, 247, 247, 0.963);
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .5s ease-in-out;
}

.btn-hover:hover {
    color: #ffffff;
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 17px 12px rgb(255, 255, 255);
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
}

input:invalid {
    animation: shake 300ms;
    color: red;
}

@keyframes shake {
    25% {
        transform: translateX(4px);
    }

    50% {
        transform: translateX(-4px);
    }

    75% {
        transform: translateX(4px);
    }
}

a:visited {
    color: #551ab5;
}

a:link {

    background-image: linear-gradient(to right,
            #EE0000,
            #551A8B 50%,
            #0000EE 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

a:before {
    content: '';
    background: linear-gradient(to right,
            rgba(255, 40, 40, 0.696),
            rgb(250, 255, 186),
            rgb(83, 49, 255));
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

a:hover {
    background-position: 0;
}

a:hover::before {
    width: 100%;
}

a.icon-link:hover {
    text-decoration: none;
    background-position: initial;
}

a.icon-link:hover::before {
    width: 0;
}

.mask-custom {
    backdrop-filter: blur(5px);
    background-color: rgba(84, 153, 172, 0.057);
    box-shadow: 0 0 15px 0.325px #6f9fd2c0;
}

.navbar-brand {
    font-size: 1.75rem;
    letter-spacing: 3px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 135%;
    height: 100%;
    background-image: linear-gradient(to right, transparent, rgba(180, 228, 255, 0.804), transparent);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

.navbar:hover::after {
    left: 100%;
    opacity: 75%;
    transition: left 0s, opacity 2s;
    animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

@media (max-width: 480px) {

    .x-navbar-fixed-top,
    .x-navbar-fixed-left,
    .x-navbar-fixed-right {
        position: sticky;
    }
}

.toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 20px;
}

.toggle-input {
    display: none;
}

.toggle-label {
    opacity: 80%;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffca;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    background-color: blur;
    box-shadow: 0 0 8px rgb(0, 0, 0);
    /* Add box shadow */
}

.toggle-icon {
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
}

.toggle-icon-light {
    color: #000000;
    /* Set your desired light mode color */
}

.toggle-icon-dark {
    color: #c4eaffda;
    /* Set your desired dark mode color */
    z-index: -1;
}

.toggle-switch {
    opacity: 80%;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.toggle-input:checked+.toggle-label {
    background-color: #000000;
    box-shadow: 0 0 8px rgba(130, 221, 241, 0.943);
    /* Set your desired dark mode background color */
}

.toggle-input:checked+.toggle-label .toggle-icon-light {
    transform: translateX(0px);
    z-index: -1;
}

.toggle-input:checked+.toggle-label .toggle-icon-dark {
    transform: translateX(20px);
    z-index: -1;
}

.toggle-input:checked+.toggle-label .toggle-switch {
    transform: translateX(0px);
}

@media (prefers-color-scheme: dark) {
    .navbar-links {
        /* Dark mode styles for nav links */
        color: #fffefe;
        /* Change the color to your desired dark mode color */
        /* Add any other styles you want for dark mode */
    }
}

/* Links in normal mode */
.navbar-links:link,
.navbar-links:visited {
    color: #551ab5;
    /* Default color for links */
}

.dark-mode-switch {
    display: flex;
    align-items: center;
    position: relative;
}

.dark-mode {
    background-image: url('Dark-Mode-BG.jpg');
    color: #ffffffd2;
}

.dark-mode a {
    color: #0527ff85;
    /* Set the desired color for links in dark mode */
}

.dark-mode a:hover {
    color: #fd5e5e;
    /* Set the desired color for hovered links in dark mode */
}


.dark-mode .collapse navbar-collapse .navbar-links .navbar-brand {
    /* Dark mode styles for nav links */
    color: #b9ebf3;
    /* Change the color to your desired dark mode color */
    /* Add any other styles you want for dark mode */
}

.dark-mode .nav-link:link,
.dark-mode .nav-link {
    color: #f6f217;
    /* Color for links in dark mode */
}

.dark-mode a {
    color: #0527ff85;
    /* Set the desired color for links in dark mode */
}

.dark-mode .icon-link a:hover {
    color: #fd5e5e;
    /* Set the desired color for hovered links in dark mode */
}


.dark-mode .my-name {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: 3em;
    color: rgba(255, 255, 255, 0.42);
    width: 100%;
    /* Set the width to 100% */
    text-align: center;
    /* Center align the text */
    line-height: 1.5em;
    margin: 10px 0 0 5px;
    padding-top: 20px;
    text-shadow: 1px 3px 17px #7facdbcc;
}

.dark-mode .my-name:hover {
    text-align: center;
    color: rgba(0, 0, 0, 0.1);
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#8b8b8b), color-stop(0.5, #ffffff));
    background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: animate;
    -moz-animation-name: animate;
    animation-name: animate;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #ffffff8c;
}

@keyframes animate {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}


#stars-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
    z-index: -1;
}

.star {
    position: fixed;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
    animation: twinkle 5s infinite ease-in-out;
    opacity: 0;
}

@keyframes twinkle {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}
